<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to the Citation Tracker</h1>
    <p class="lead">Please select how you would like to go forward</p>
    <p>
      <a class="btn btn-lg btn-success" href="#/benchmarks" role="button">Discover Benchmarks</a>
      <a class="btn btn-lg btn-warning" href="#/author-vs-benchmark" role="button">Discover Authors</a>
      <a class="btn btn-lg btn-warning" href="#/citation-percentiles" role="button">Citations Analysis</a>
    <p>
  </div>
</div>
